body{ 
  /* foto de fundo */
  background-image: url('imagem/cliente.jpg');
  background-size: cover;
  }

body{
  color: #610aec;
}



li{
  color: rgb(10, 10, 10);
}

#box{
position: absolute;
top: 250px;
right: 25px;
/* shorthand */
}

.texto-aumentado {
  font-size: 30px; /* Você pode ajustar o tamanho conforme necessário */
}

.for{
  font-size: 100px;
}

#box ul{
  list-style: none;
  background-color: rgb(245, 243, 243);
  width: 280px;
  height: 280px;
  border: none;
  border-radius: 8px;
  border-bottom: 2px solid rgb(248, 246, 246);
}

.div-menu{
  /* cor da barra de menus */
  background-color: rgb(58, 13, 219);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button{
  list-style: none;
  background-color: rgb(32, 31, 31);
  width: 280px;
  height: 280px;
  border-radius: 8px;
  border-radius: 20px;
}

.btn-menu {
  font-size: 24px; /* Tamanho da fonte desejado */
  border: none;
  
  
}


h1{
  list-style: none;
  width: 300px;
  height: 500;
  padding-top: 30%;
}

Input {
  border: none;
  border-bottom: 2px solid black;
  }

  .div-menu{
    transition: background-color 1s;
  }
  
  @keyframes animacao{
  
    0% {background-color: pink;width: 280px;}
    50% { background-color: darkorange; width: 200px;}
    100%{ background-color: pink;width: 200px;}
    }

    .btn-menu{
      width: 280px;
      background-color: purple;
      animation-name: animacao;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      border-radius: 20px;
    }    